<div class="jumbotron" style="position: relative;">
  <div class="text-center">
    <h1 class="display-4">Kais Alkotamy</h1>
    <h3>Software Engineer</h3>
  </div>

  <div style="position: absolute; bottom: 5px; right: 10px;">
    <a href="https://www.linkedin.com/in/kais-kotamy/" target="_blank">
      <img src="../../assets/LinkedIn_icon.png" width="24" height="24" class="rounded-circle  me-2">

    </a>

    <a href="https://github.com/kaisKa?tab=repositories" target="_blank">
      <img src="../../assets/GitHub-icon.png" width="24" height="24" class="rounded-circle  me-2">

    </a>
  </div>
</div>
