<div class="container">
  <div class="text-center border mb-5 shadow rounded">
    <h1>Contact</h1>
    <p>I can be reached at the following email: <b>kais.alkotamy&#64;gmail.com</b></p>
    <div class="row  justify-content-center">
      <div class="col-auto">
        <p><img src="../../assets/whatsapp.png" width="24" height="24" alt="whatsapp"> +971 544438824</p>
      </div>
      <div class="col-auto">
        <p><img src="../../assets/phone.png" width="24" height="24" alt="whatsapp"> +971 562620452</p>
      </div>
    </div>
    <p>Feel free to contact me on the following platform:</p>
  </div>


  <div class="list-group shadow">
    <a href="https://www.linkedin.com/in/kais-kotamy/" target="_blank"
      class="list-group-itme list-group-itme-action d-flex gap-3 py-3">
      <img src="../../assets/LinkedIn_icon.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
      <h3 class="mb-0">LinkedIn</h3>
    </a>

    <a href="https://github.com/kaisKa?tab=repositories" target="_blank"
      class="list-group-itme list-group-itme-action d-flex gap-3 py-3">
      <img src="../../assets/GitHub-icon.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
      <h3 class="mb-0">GitHub</h3>
    </a>
  </div>
</div>
