<nav class="navbar-expand-md border-bottom mb-3">
  <div class="container">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a  routerLink="/home" routerLinkActive="text-dark" class="nav-link text-secondery">Home</a>
      </li>
      <li class="nav-item">
        <a    routerLink="/portfolio" routerLinkActive="text-dark" class="nav-link text-secondery">Portfolio</a>
      </li>
      <li class="nav-item">
        <a   routerLink="/resume" routerLinkActive="text-dark" class="nav-link text-secondery">Resume</a>
      </li>
      <li class="nav-item">
        <a   routerLink="/contact" routerLinkActive="text-dark" class="nav-link text-secondery">Contact</a>
      </li>
    </ul>

  </div>

</nav>
