<div class="container text-center">
  <button (click)="downloadFile()" class="btn btn-primary mb-5 shadow border">Download Resume.pdf</button>


  <div class="pb-2">
    <accordion [isAnimated]="true" class="shadow">
      <accordion-group [(isOpen)]="isWorkExperience">
        <button class="btn btn-block d-flex justify-content-between align-items-center w-100" accordion-heading>
          <div class="btn-link">Work Experience</div>
          <div class="arrow-icon" *ngIf="!isWorkExperience">
            >
          </div>
          <div class="arrow-icon" *ngIf="isWorkExperience">
            v
          </div>
        </button>

        <div *ngFor="let workExp of resume.workExperiences" style="text-align: left;">

          <div class="row">
            <h2 class="col mb-0">{{workExp.companyName}}</h2>
            <h3 class=" col text-primary">{{workExp.title}}</h3>
          </div>

          <div class="row">
            <h4 class="col">{{workExp.location}}</h4>
            <h5 class="col">{{workExp.startDate}} - {{workExp.endDate}}</h5>
          </div>
          <ul *ngFor="let res of workExp.responsibilities">
            <li>{{res}}</li>
          </ul>
          <hr>
        </div>


      </accordion-group>
      <accordion-group [(isOpen)]="isEducation">
        <button class="btn btn-block d-flex justify-content-between align-items-center w-100" accordion-heading>
          <div class="btn-link">Education</div>
          <div class="arrow-icon" *ngIf="!isEducation">
            >
          </div>
          <div class="arrow-icon" *ngIf="isEducation">
            v
          </div>
        </button>

        <div *ngFor="let edu of resume.education" style="text-align: left;">
          <h2 class="mb-0">{{edu.degreeName}}</h2>
          <h3 class="text-primary">{{edu.universityName}}</h3>
          <h4>{{edu.department}}</h4>

          <!-- <ul>
            <li>Artificial intelligence</li>
            <li>Artificial intelligence</li>
          </ul> -->
          <hr>
        </div>
      </accordion-group>
      <accordion-group [(isOpen)]="isCertifiactions">

        <button class="btn btn-block d-flex justify-content-between align-items-center w-100" accordion-heading>
          <div class="btn-link">Certifiactions</div>
          <div class="arrow-icon" *ngIf="!isCertifiactions">
            >
          </div>
          <div class="arrow-icon" *ngIf="isCertifiactions">
            v
          </div>
        </button>
        <div style="text-align: left;">
          <h3 class="mb-0">Distributed computing with Apache spark</h3>
          <h4 class="text-primary">Coursera</h4>
          <ul>
            <li>Learned about ....</li>
            <li>Learned about ....</li>
            <li>Learned about ....</li>
          </ul>
        </div>
      </accordion-group>
      <accordion-group [(isOpen)]="isSkills">

        <button class="btn btn-block d-flex justify-content-between align-items-center w-100" accordion-heading>
          <div class="btn-link">Skills</div>
          <div class="arrow-icon" *ngIf="!isSkills">
            >
          </div>
          <div class="arrow-icon" *ngIf="isSkills">
            v
          </div>
        </button>
        <div class="row" style="text-align: left;">
          <div class="col">
            <h3>Languages: </h3>
            <ul>
              <li>Java</li>
              <li>Kotlin</li>
              <li>Type Script</li>
            </ul>
          </div>
          <div class="col">
            <h3>Framworks:</h3>
            <ul>
              <li>Spring Boot</li>
              <li>NestJs</li>
              <li>Angular</li>
            </ul>
          </div>
        </div>
      </accordion-group>
    </accordion>
  </div>
</div>
